[submodule ".registry"]
	path = .registry
	url = https://github.com/thekangaroofactory/thekangaroofactory.r-universe.dev
	branch = HEAD
[submodule "iker"]
	path = iker
	url = https://github.com/thekangaroofactory/iker
[submodule "kitems"]
	path = kitems
	url = https://github.com/thekangaroofactory/kitems
[submodule "ktools"]
	path = ktools
	url = https://github.com/thekangaroofactory/ktools
